In [1]:
import csv
import pandas as pd
import json

In [5]:
meta_df = pd.read_json('meta_sub.json')

In [20]:
reviews_df = pd.read_json('reviews.json')
reviews_df = reviews_df.T

In [22]:
reviews_df.head(2)

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,vote,style,image
0,5.0,True,"10 17, 2015",A1HP7NVNPFMA4N,0700026657,Ambrosia075,"This game is a bit hard to get the hang of, bu...",but when you do it's great.,1445040000,NaN,NaN,NaN
1,4.0,False,"07 27, 2015",A1JGAP0185YJI6,0700026657,travis,I played it a while but it was alright. The st...,"But in spite of that it was fun, I liked it",1437955200,NaN,NaN,NaN

In [23]:
meta_df.head(2)

,category,tech1,description,fit,title,also_buy,tech2,brand,feature,rank,also_view,main_cat,similar_item,date,price,asin,imageURL,imageURLHighRes,details
38,"[Video Games, PC, Games]",,[ANNO 2070BRAND NEW - IN STOCKDVD Rom Software...,,Anno 2070,[],,Ubisoft,[A new era: while adhering to the fundamentals...,"[>#30,230 in Video Games (See Top 100 in Video...","[B013F0IP1C, B00JDP1AWU, B00XR3YC2E, B001AWMCM...",Video Games,,,$7.95,0700026657,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...,None
39,"[Video Games, PC, Games]",,"[Hitman: Absolution follows Agent 47, a cold-b...",,HITMAN ABSOLUTION (PC),[],,Square Enix,"[PC-DVD Import, Showcasing Glacier 2 technolog...","[>#58,163 in Video Games (See Top 100 in Video...",[],Video Games,,,,0700026398,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...,None

**Columns to keep**   
META: category, brand, date, price, asin(productID)   
REVIEWS: overall(rating), verified, reviewerID(userID), asin(productID), summary, vote, style

In [48]:
# del reviews_df["reviewerName"]
# del reviews_df["reviewText"] 
# del reviews_df["summary"] 
# del reviews_df["unixReviewTime"]
# del reviews_df["image"]
del reviews_df["reviewTime"]

In [49]:
reviews_df.head()

  rating verified          userID   productID vote style
0    5.0     True  A1HP7NVNPFMA4N  0700026657  NaN   NaN
1    4.0    False  A1JGAP0185YJI6  0700026657  NaN   NaN
2    3.0     True  A1YJWEXHQBWK2B  0700026657  NaN   NaN
3    2.0     True  A2204E1TH211HT  0700026657  NaN   NaN
4    5.0     True  A2RF5B5H74JLPE  0700026657  NaN   NaN

In [38]:
reviews_df = reviews_df.rename(columns={"overall": "rating", 
                           "reviewerID": "userID", 
                           "asin": "productID"}, 
                  errors="raise")

In [50]:
reviews_df.head(3)

  rating verified          userID   productID vote style
0    5.0     True  A1HP7NVNPFMA4N  0700026657  NaN   NaN
1    4.0    False  A1JGAP0185YJI6  0700026657  NaN   NaN
2    3.0     True  A1YJWEXHQBWK2B  0700026657  NaN   NaN

In [55]:
list(reviews_df["style"])[1000]

{'Format:': ' Video Game'}

In [57]:
list(set(reviews_df["vote"]))

[nan,
 '201',
 '96',
 '149',
 '385',
 '426',
 '54',
 '246',
 '109',
 '567',
 '345',
 '330',
 '217',
 '351',
 '244',
 '71',
 '209',
 '12',
 '136',
 '35',
 '299',
 '500',
 '595',
 '141',
 '292',
 '34',
 '271',
 '475',
 '166',
 '333',
 '250',
 '195',
 '264',
 '78',
 '177',
 '508',
 '350',
 '741',
 '300',
 '371',
 '193',
 '248',
 '50',
 '237',
 '102',
 '202',
 '189',
 '137',
 '693',
 '407',
 '175',
 '119',
 '124',
 '2,403',
 '55',
 '459',
 '1,000',
 '610',
 '2,474',
 '401',
 '239',
 '150',
 '232',
 '224',
 '430',
 '94',
 '760',
 '1,158',
 '121',
 '530',
 '285',
 '425',
 '134',
 '484',
 '51',
 '582',
 '1,134',
 '24',
 '700',
 '4',
 '310',
 '585',
 '229',
 '131',
 '485',
 '261',
 '86',
 '1,953',
 '73',
 '399',
 '1,239',
 '293',
 '378',
 '321',
 '40',
 '578',
 '331',
 '702',
 '354',
 '256',
 '236',
 '977',
 '382',
 '291',
 '197',
 '332',
 '41',
 '679',
 '558',
 '226',
 '520',
 '283',
 '478',
 '112',
 '206',
 '178',
 '418',
 '183',
 '11',
 '630',
 '92',
 '84',
 '21',
 '114',
 '268',
 '516',
 '99',
 '281',
 '362',
 '28',
 '59',
 '295',
 '22',
 '1,250',
 '302',
 '645',
 '104',
 '64',
 '260',
 '20',
 '23',
 '82',
 '218',
 '429',
 '347',
 '880',
 '989',
 '81',
 '159',
 '463',
 '153',
 '282',
 '88',
 '140',
 '338',
 '325',
 '185',
 '446',
 '128',
 '344',
 '31',
 '161',
 '14',
 '167',
 '417',
 '5',
 '19',
 '607',
 '18',
 '469',
 '108',
 '460',
 '695',
 '265',
 '3',
 '168',
 '180',
 '145',
 '1,917',
 '62',
 '69',
 '67',
 '277',
 '8',
 '289',
 '303',
 '510',
 '884',
 '107',
 '37',
 '205',
 '223',
 '139',
 '39',
 '199',
 '158',
 '274',
 '200',
 '646',
 '391',
 '63',
 '76',
 '499',
 '117',
 '122',
 '667',
 '552',
 '396',
 '342',
 '58',
 '101',
 '495',
 '404',
 '26',
 '221',
 '225',
 '336',
 '253',
 '100',
 '296',
 '75',
 '219',
 '38',
 '10',
 '230',
 '273',
 '220',
 '176',
 '294',
 '279',
 '377',
 '400',
 '259',
 '188',
 '359',
 '72',
 '144',
 '1,236',
 '612',
 '306',
 '83',
 '25',
 '44',
 '97',
 '233',
 '181',
 '387',
 '49',
 '235',
 '318',
 '203',
 '364',
 '106',
 '242',
 '211',
 '208',
 '15',
 '491',
 '360',
 '45',
 '120',
 '466',
 '436',
 '315',
 '1,041',
 '476',
 '184',
 '348',
 '228',
 '118',
 '27',
 '32',
 '308',
 '334',
 '419',
 '252',
 '258',
 '60',
 '728',
 '329',
 '297',
 '317',
 '257',
 '207',
 '190',
 '1,214',
 '497',
 '394',
 '133',
 '280',
 '52',
 '171',
 '266',
 '89',
 '77',
 '620',
 '154',
 '147',
 '341',
 '204',
 '13',
 '335',
 '87',
 '383',
 '198',
 '213',
 '1,120',
 '464',
 '53',
 '70',
 '1,333',
 '56',
 '550',
 '270',
 '247',
 '1,241',
 '152',
 '85',
 '251',
 '156',
 '682',
 '384',
 '111',
 '135',
 '80',
 '143',
 '127',
 '66',
 '148',
 '194',
 '765',
 '9',
 '186',
 '945',
 '170',
 '98',
 '651',
 '2',
 '146',
 '16',
 '606',
 '155',
 '231',
 '126',
 '349',
 '210',
 '376',
 '352',
 '115',
 '163',
 '215',
 '42',
 '7',
 '422',
 '74',
 '165',
 '91',
 '160',
 '301',
 '386',
 '93',
 '187',
 '192',
 '116',
 '846',
 '238',
 '1,235',
 '162',
 '312',
 '900',
 '272',
 '79',
 '255',
 '715',
 '575',
 '130',
 '182',
 '110',
 '125',
 '142',
 '174',
 '323',
 '860',
 '591',
 '222',
 '30',
 '164',
 '169',
 '129',
 '61',
 '138',
 '570',
 '113',
 '657',
 '29',
 '319',
 '46',
 '157',
 '254',
 '372',
 '6',
 '227',
 '240',
 '290',
 '249',
 '103',
 '33',
 '214',
 '216',
 '151',
 '276',
 '406',
 '43',
 '366',
 '403',
 '173',
 '267',
 '68',
 '1,824',
 '47',
 '1,133',
 '57',
 '866',
 '309',
 '65',
 '105',
 '381',
 '457',
 '179',
 '132',
 '526',
 '17',
 '48',
 '241',
 '212',
 '196',
 '90',
 '95',
 '191',
 '536',
 '234',
 '414',
 '1,142',
 '369',
 '123',
 '269',
 '172',
 '320',
 '36',
 '452']

In [32]:
# category, brand, price, asin(productID)
del meta_df["tech1"]
del meta_df["description"]
del meta_df["fit"] 
del meta_df["title"] 
del meta_df["also_buy"] 
del meta_df["tech2"] 
del meta_df["feature"] 
del meta_df["rank"] 
del meta_df["also_view"] 
del meta_df["main_cat"] 
del meta_df["similar_item"] 
del meta_df["date"] 
del meta_df["imageURL"]
del meta_df["imageURLHighRes"]
del meta_df["details"]

In [33]:
meta_df.head(3)

                    category        brand  price        asin
38  [Video Games, PC, Games]      Ubisoft  $7.95  0700026657
39  [Video Games, PC, Games]  Square Enix         0700026398
41  [Video Games, PC, Games]       Dirt 3         0700099867

In [43]:
len(set(meta_df["price"]))

1507

In [47]:
len(set(meta_df["productID"]))

17389

In [ ]:
len(set(meta_df["br"]))

In [36]:
meta_df = meta_df.rename(columns={"asin": "productID"})

In [37]:
meta_df.head(3)

                    category        brand  price   productID
38  [Video Games, PC, Games]      Ubisoft  $7.95  0700026657
39  [Video Games, PC, Games]  Square Enix         0700026398
41  [Video Games, PC, Games]       Dirt 3         0700099867

In [58]:
meta_df.to_csv("meta_filtered.csv", index=False)

In [59]:
reviews_df.to_csv("reviews_filtered.csv", index=False)